<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookHorseBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <BookHorseBot.Properties.Settings>
      <setting name="FF_Token" serializeAs="String">
        <value />
      </setting>
      <setting name="FF_client_id" serializeAs="String">
        <value>apn6YvpZNIjuORSHq-v5NjF5WUiGiv5_</value>
      </setting>
      <setting name="FF_client_secret" serializeAs="String">
        <value>fLfiF66IInYOWJusFTnqCnRnVU4TrVpe</value>
      </setting>
      <setting name="R_Username" serializeAs="String">
        <value>bookhorsebot</value>
      </setting>
      <setting name="R_Password" serializeAs="String">
        <value>attish</value>
      </setting>
      <setting name="R_client_id" serializeAs="String">
        <value>UB0zU1sR4i_VEw</value>
      </setting>
      <setting name="R_client_secret" serializeAs="String">
        <value>fY7CjXfJ463llYSXfNqmNra1By4</value>
      </setting>
    </BookHorseBot.Properties.Settings>
  </userSettings>
</configuration>